.header-background {
    background-image: linear-gradient(RGBA(60, 130, 178, .5),RGBA(60, 130, 178, .5)), url(../img/img_849.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 8vw;
    //opacity: .5;
}

.logo-img {
    height: 50px;
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-brand {
    padding: 5px 0;
}

.text-branding {
    color: $branding-blue;
}

.navbar-default .navbar-nav>li>a {
    color: $branding-blue;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: $branding-blue;
}

.navbar-default .navbar-text {
    color: $branding-blue;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.headline {
    color: white;
    text-transform: uppercase;
    font-size: 7vw;
    //padding-top: 7vw;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background: $collapsed-menu-color;
}

.jumbotron {
    background-color: transparent;
    color: white;
}

.tagline {
    color: $branding-blue;
    // margin-bottom: 7vw;
}

@media screen and (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: transparent;
    }
}
